<form class="dshideout-default-project-settings-form">
  <p class="dshideout-form-hint">{{localize "DSHIDEOUT.Settings.DefaultProjectSettings.DialogHint"}}</p>

  {{!-- Event mode --}}
  <div class="dshideout-form-row">
    <label for="dshideout-dps-mode">{{localize "DSHIDEOUT.Events.ModeLabel"}}</label>
    <select id="dshideout-dps-mode" name="eventsMode">
      {{#each eventModeChoices}}
        <option value="{{this.value}}" {{#if (dshideout-eq this.value ../currentMode)}}selected{{/if}}>
          {{localize this.label}}
        </option>
      {{/each}}
    </select>
  </div>

  {{!-- Event table --}}
  <div class="dshideout-form-row">
    <label for="dshideout-dps-table">{{localize "DSHIDEOUT.Events.TableLabel"}}</label>
    <select id="dshideout-dps-table" name="eventTableUuid">
      {{#each tables}}
        <option value="{{this.uuid}}" {{#if (dshideout-eq this.uuid ../currentUuid)}}selected{{/if}}>
          {{this.name}}{{#if (dshideout-eq this.source "world")}} (World){{/if}}
        </option>
      {{/each}}
    </select>
    <p class="dshideout-form-hint">{{localize "DSHIDEOUT.Settings.DefaultProjectSettings.TableHint"}}</p>
  </div>

  {{!-- Private chat --}}
  <div class="dshideout-form-row dshideout-form-row-checkbox">
    <label>
      <input type="checkbox" name="postEventsPrivate" {{#if postPrivate}}checked{{/if}} />
      {{localize "DSHIDEOUT.Events.PostPrivateLabel"}}
    </label>
    <p class="dshideout-form-hint">{{localize "DSHIDEOUT.Events.PostPrivateHint"}}</p>
  </div>

  {{!-- Carry-over overflow --}}
  <div class="dshideout-form-row dshideout-form-row-checkbox">
    <label>
      <input type="checkbox" name="carryOverflow" {{#if carryOverflow}}checked{{/if}} />
      {{localize "DSHIDEOUT.Projects.CarryOverflowLabel"}}
    </label>
    <p class="dshideout-form-hint">{{localize "DSHIDEOUT.Projects.CarryOverflowHint"}}</p>
  </div>
</form>
